# Required
OPENROUTER_API_KEY=#sk-or-v1-api-key-here#

# Default model
CLAUDISH_MODEL=openrouter@owl-alpha

# Model mapping (optional)
CLAUDISH_MODEL_OPUS=openrouter@owl-alpha
CLAUDISH_MODEL_SONNET=openrouter@owl-alpha
CLAUDISH_MODEL_HAIKU=ollama@gemma4:e4b
CLAUDISH_MODEL_SUBAGENT=ollama@gemma4:e4b

# Fixed port (optional)
# CLAUDISH_PORT=3456