# Required
OPENROUTER_API_KEY=#sk-or-v1-api-key-here#

# Default model
CLAUDISH_MODEL=nvidia@nemotron-3-super-120b-a12b:free

# Model mapping (optional)
CLAUDISH_MODEL_OPUS=nvidia@nemotron-3-super-120b-a12b:free
CLAUDISH_MODEL_SONNET=nvidia@nemotron-3-super-120b-a12b:free
CLAUDISH_MODEL_HAIKU=openrouter@owl-alpha
CLAUDISH_MODEL_SUBAGENT=openrouter@owl-alpha

# Fixed port (optional)
# CLAUDISH_PORT=3456